*{
	border: 0px;
	margin: 0px;
	padding: 0px;
	}


body   
	{
	background: #fff;
	}
header 
	{
	margin-left: auto;
	margin-right: auto;
	width: 98%;
	height: 50%;
	background:none;
	text-align: center;
	}
#logos 
	{
	margin: 0;
	display: inline-block;
	vertical-align: top;
	}
#ovis 
	{
	margin: 0%;
	margin-left: 10%;
	padding: 10px;
	background: ;
	font-family: franklin gothic heavy;
	font-size: 40px;
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	color: black;
	text-shadow: 0.1em 0.0em 0.01em #A8A8A8;
	}
 

#contenedor
  	{
  	background: none;
  	padding: none;
  	width: 90%;
  	margin-left: auto;
  	margin-right: auto;
  	text-align: center;
  	}


h1 
	{
	height: 40px;
 	color: black;
 	vertical-align: center;
 	text-align: center;
  	font-family: franklin gothic heavy;
  	background: #005883;
  	}

#titulo
  	{
  	margin-left: auto;
  	margin-right: auto;
  	height: 40px;
  	color: #fff;
  	background: #005883;
  	font-size: 60px 50%;
  	}
 

.renav {
	display:inline-block;
 	margin: 20px 0px;
 	padding:5px;
  	width: 300px;
  	height: 1300px;
 	background: #ffffff;
 	border-radius: 10px;
 	vertical-align: top; 
 	position: static;
 	border: 1PX solid black;
}
.renav p 
{
	
	line-height: ;
	font-size: 16px;
	text-align: center;
	font-family: arial;
	width: 95%;
	padding: 2%
	font-weight: bold;
}

#menu 
 	{
 	display:-block;
 	margin: 20px 0px;
  	width: 100%;
 	height:265px;
 	background: #222;
 	border: 1PX solid black;
 	border-radius: 10px;
 	vertical-align: top; 
 	position: static;
 	z-index: 500000;	
 	}

 .twitter-timeline 
{
border: 1PX solid black;
width: 100%;
float-left: auto;
float-right:auto;

z-index: 5000000;
}
 
nav li 
 	{
  	width: 50%;
 	height: 35px;
 	padding-top: 10px;
  	background: #D4AC0D;
 	color: white;
 	font-family: arial;
 	display: inline-block;
 	text-align: center;
 	border:1PX solid #000000;
 	border-radius: 10px;
 	}*/
 nav li 

 	{
 	display: block;
 	margin-top: 30px;
 	}
 	
nav a 
	{
	color: #222;
	width: 100%;
	padding: 14px;
	padding left: 50px;
	text-decoration: none;
	font-size: 20px;
 	font-family: calibri;
 	font-weight: bold;
	}

/*nav li:hover 
	{
	color: white;
	background: #333333;
	border: 2PX solid #ffffff;
	}*/

nav a:hover
	{
	height: 20px;
	font-size: 21px;
	color: white;
	background: #333333;
	border-radius: 50PX;
	font-family: calibri;
	-webkit-transition:all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
	}	

#texto 
	{
	margin: auto;
	text-align: center;
	margin-left: 1%;
	padding-top: 10px;
	width:700px;
	height: 1300px;
	margin-top: 20px;
	background: #ffff;
	border:1PX solid #000000;
 	border-radius: 10px;
 	display: inline-block;
	vertical-align: center;
	color: black;
	font-family: calibri;
	}

.S1 
	{
	width: 90%;
	height: 28%;
	margin: 5px 5px;
	border-radius: 10px;
	border:1PX solid #ffff;
	}

h2 
	{
	background: white;
	text-align: center;
	font-family: franklin gothic heavy;
	font-size: 35px;
	border-radius: 10px;
	text-shadow: 0.1em 0.0em 0.01em black
    }

.S2
	{
	width: 70%;
	height: 300px;
	border-radius: 10%;
	}

#charla
	{
	line-height: 2em;
	font-size: 16px;
	text-align: justify;
	font-family: arial;
	width: 95%;
	padding: 2%;
	}
hr 
{
	color: black;
}
.DERECHOS
{
	width: 100%
	height: 200px;
	margin-bottom: 30px;
	margin-top: 20px;
	text-align: center;
	background:#005883;
	color: white; 
	font-weight: bold;
	font-family: arial;
	font-size: 20px;
}

.DERECHOS p 
{
padding: 10px;
}

#twitter-timeline 
{
	
}
